<div class="users-container">

  <div class="users-header">
    <h2>Administración de usuarios</h2>

    <div class="actions">
      <button class="btn logout" (click)="logout()">
        Cerrar sesión
      </button>

      <a routerLink="/admin/users/new" class="btn create">
        + Crear usuario
      </a>
    </div>
  </div>
  <table class="users-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let u of usuarios">
        <td>{{ u.idusuario }}</td>
        <td>{{ u.nombres }}</td>
        <td>{{ u.correo }}</td>

        <td [ngClass]="u.activo ? 'activo' : 'inactivo'">
          {{ u.activo ? 'Activo' : 'Inactivo' }}
        </td>

        <td>
          <a 
            [routerLink]="['/admin/users/edit', u.idusuario]" 
            class="btn edit">
            Editar
          </a>
        </td>
      </tr>

      <tr *ngIf="usuarios.length === 0">
        <td colspan="5" style="text-align:center;">
          No hay usuarios registrados
        </td>
      </tr>

    </tbody>
  </table>

</div>
