############################
# ANGULAR
############################
node_modules/
dist/
.angular/
coverage/

############################
# SPRING BOOT
############################
target/
*.class

############################
# IDE
############################
.vscode/
.idea/

############################
# LOGS
############################
*.log

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# ENV FILES (si usas)
############################
.env
